body {
    width: 100%; 
    height: 100vh; /*vh  adalah: mewakili persentase dari tampilan lebar dan tinggi browser. 50vh = 50/100 (50%) dari tinggi window browser. jadi klo tinggi windownya kita mainkan maka ukuran height akan menyesuaikan dengan persentase atasa window*/
    margin: 0;
    background-color: hsl(240, 91%, 69%); /*hue (warna), saturation (semakin kecil semakin memutih/pudar), and lightness(semakin besar semakin memutih/terang) (HSL) */
    color: #f5f6f7;  /*warna text*/
    font-family: Tahoma;
    font-size: 16px;
}

h1, p {
    margin: 1em auto;     /*syntax => margin: TB LR,.... "1 em" maksudnya 1*16px (font parentnya)*/
    text-align: center;
}

form {
    width: 60vw; /*mksdnya lebarnya hanya 60% dari 100% lebar body, makanya klo dikasih warna g akan full*/
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em; /*2*16px...> hasilnya d bawah submit*/
}

fieldset {
    border: none;            /*tag fieldset defaultnya menyertakan border, makanya d hilangkan dengan cara ini*/
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {       /*last-of-type mksdnya adalah tag filedset yang paling akhir/bawah...*/
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0; /*jarak atas-bawah antar label*/
}

input,
textarea,
select {          /*style sekaligus pada 3 tag*/
    margin: 10px 0 0 0;
    width: 100%;  /*ini menjadikan label d atas dan input dibawahnya*/
    min-height: 2em;
}

input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {    /*khusus untuk input dengan type: submit*/
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;              /*tinggi button*/
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
}

input[type="file"] {
    padding: 1px 2px;
}

a{
    color: #dfdfe2;
}